<!-- Toolbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">{{ title }} app is running!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  </div>
</nav>

<div class="container main">
  <div class="card">
    <div class="card-header">
      <h1>BlockOverview</h1>
      <small class="text-muted">Here follows a list with available blocks</small>
    </div>
  </div>
  <div *ngFor="let block of blocks">
    <div class="card">
      <div class="card-header">
        <h2>{{block.name}}</h2>
        <small class="text-muted">{{block.info}}</small>
      </div>
      <div class="card-body">
        <h3>Registers</h3>
        <div class="card-deck">
          <div class="card" *ngFor="let item of block.registers | keyvalue">
            <register [name]="item.key" [register]="item.value" ></register>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
